cv_bridge==3.2.1
geometry_msgs==4.2.3
launch_ros==0.19.6
numpy==1.24.3
opencv_python==4.7.0.72
opencv_python_headless==4.8.0.74
rclpy
ros_gz_interfaces==0.244.11
scipy==1.8.0
sensor_msgs==4.2.3
std_msgs==4.2.3
torch==2.1.1
transforms3d==0.4.1
yolov5==7.0.13
